.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.product {
    width: 22%;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}
.product  > *{
    margin-bottom: 20px;
}
.product img{
    width: 100%;
    height: 200px;
}
.product button{
    margin:20px auto;
    display: block;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    width: 70%;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.single-product{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.single-product img{
    width: 400px;
    height: 400px;
}
.product-details > *{
    margin-bottom: 20px;
}
.product-details h2{
    color: var(--main-color);
    font-size: 30px;
}
.product-details div{
    display: flex;
    gap: 10px;
}
.star-icon{
    color: gold;
}
.product-details p{
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.7;
}
.product-details button{
    margin:20px;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px;
    width: 30%;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.no-product{
    text-align: center;
   color: red;
   font-size: 30px;
   width: 100%;
}
