.cart-item{
    border: 1px solid gray;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}
.cart-item button{
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.cart-item img{
    width: 100px;
    height: 100px;
}
.cart{
    display: flex;
    justify-content: space-around;
}
.cart-items{
    width: 65%;
}
.total{
    width: 25%;
    padding: 20px;
    border: 1px solid gray;
    height: max-content;


}
.total div{
    display: flex;
    justify-content: space-between;

}
.counter{
    display: flex;
    align-items: center;
    gap: 20px;

}
.counter button{
    background-color: #000;
}