.contact-content{
    width: 80%;
    margin: 100px auto;
    border: 2px solid grey;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.contact h2{
    font-size: 35px;
    text-align: center;
    color: var(--main-color);
}
.contact-left{
    width: 50%;
}
.contact-left iframe{
    width: 100%;
    height: 400px;
}
.contact-right input{
 width: 90%;
 display: block;
 padding: 10px;
 outline: none;
 margin-top: 20px;
}
.contact-right textarea{
    width: 90%;
    display: block;
    padding: 10px;
    outline: none;
    margin-top: 20px;
}

@media screen and (max-width : 480px){
    .contact-content{
      flex-direction: column;
    }
    .contact h2{
       margin-top: 40px;
    }
    .contact-left{
        width: 100%;
    }
}