.popular-content{
    margin-top: 80px;
}
.popular-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.popular-content img{
    width: 15%;
}

@media screen and (max-width : 480px){
 
    .popular-content{
       flex-direction: column;
    
    }
    .popular-content img{
        width: 60%;
    }
}